@import url( http://fonts.googleapis.com/css?family=Kelly+Slab );

body{
	background-color: #000; 
	background-image: url( ../img/idea.jpg );
	color: #fff;
	font-family: 'Kelly Slab', cursive;
	text-align: center;
}

#new-do{
	background-color: transparent;
	border: 1px solid #fff; 
	border-radius: 0.5em;
}

#save-2-do{
	background-color: rgba( 255, 255, 255, 0.3 );
	border: 1px solid #fff;
	border-radius: 0.5em;
}

#display-2dos{
	border: 1px solid #fff; 
	/*border-radius: 1.5em;*/
	margin: 2em auto;
	overflow: hidden;
	padding: 0.5em;
	width: 30%;
}

#display-2dos p{
	display: inline-block;
	float: left;
	margin: 1.2em 0 0 0;
	text-align: left;

}

#display-2dos input{
	display: inline-block;
	margin: 1.5em -20em 0 0;
}

#display-2dos button{
	color: #000;
	display: inline-block;
	float: right;
	margin: 1em 0;
}

nav{
	background-color: #464646;
	overflow: hidden;
	padding: 0.5em;
}

nav img{
	float: left;
}