body{
	background-color: #000;
	color: #fff;
}

button{
	color: #000; 
}

#player-song-list{
	border: 1px solid #fff;
	display: block;
	margin: 1em auto;
	padding: 1em;
	width: 40% ;
}

#player-song-list button{
	float: left;
	margin: 0 auto;
}

#player-song-list ul li{
	border-bottom: 1px solid #fff;
}

#player-bar{
	border: 1px solid #fff;
	display: block;
	margin: 0 auto;
	padding: 1em;
	width: 40% ;
}

li{
	list-style: none;
}