body{
	background-color: #000;
	color: #fff;
}

.player-song-list{
	border-radius: 1em;
	display: block;
	float: right;
	margin: 1em;
	overflow: hidden;
	padding: 1em;
	width: 25% ;
}

.play, #pause-pause, #prev, #next, #repeat{
	width: 4em;
	height: 4em;
}

#songList li p{
	float: right;
	margin: 1em;
}

.player-song-list ul li{
	background-color: rgba( 0, 0, 0, 0.5 );
	border: 1px solid #fff;
	margin: 2em auto;
}

#player-bar{
	border-radius: 1em;
	float: left;
	display: block;
	margin: 1em;
	padding: 1em;
	width: 40% ;
}

li{
	list-style: none;
}

.time{
	float: right;
}

#vol-range{
	border-radius: 1em;
	border: none; 
}

#song-range{
	width: 90%;
	margin: 0 auto;
}

.volume img{
	width: 2em; 
	height: 2em;
	margin: 0.6em 0 0 0;
}

